.header {
  color: white;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  position: relative;
  overflow-x: hidden;
  height: 70px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);

  &__left {
    position: relative;
    display: flex;
    align-items: center;

    &__icon {
      transform: scale(1);
      cursor: pointer;
      color: rgb(161, 160, 160);

      &__right {
        margin: 0 25px;
      }
    }

    &__search {
      // background-color: rgb(47, 39, 57);
      background-color: hsla(0, 0%, 100%, 0.1)  ;
      height: 40px;
      min-width: 550px;
      width: 100%;
      display: flex;
      border-radius: 40px;
      align-items: center;
      position: relative;
     

      &__icon {
        transform: scale(1.2);
        line-height: 40px;
        margin-left: 10px;
        // margin-right: 5px;
        cursor: pointer;
        opacity: 0.6;
      }

      &__input {
        position: relative;
        width: 90%;
        padding-left: 5px;
        padding-right: 20px;
        color: rgb(176, 174, 179);
        // background-color: rgb(47, 39, 57);
        background-color: transparent;
        background-clip: padding-box;
        line-height: 34px;
        border: 0;
        font-size: 1rem;
        display: inline-block;
        
        &:focus {
          outline: none;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
  }
}
