.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;

  &__text {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 100px;
    min-height: 20px;
    padding: 8px 25px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    // font-size: 14px;
    font-weight: 600;

    @include tablet {
      width: 140px;
      height: 30px;
      padding: 4px 0;
      font-size: 12px;
      line-height: 20px;
      
    }

    @include mobile {
      color: black;
      border: 1px solid black;
      min-width: 80px;
      min-height: 16px;
      padding: 6px 20px;
      
    }

    &:hover {
      background-color: rgb(47, 39, 57);
    }
  }
}
