.list__music {
  color: white;
  padding-bottom: 200px;
  position: relative;
  margin: 0 50px;
  z-index: 0;

  @include tablet {
    margin: 0 15px;
  }

  @include mobile {
    margin: 0 20px;
  }

  &__item {
    margin-top: 45px;

    &__title {
      font-size: 1.5rem;
      font-weight: 600;
      user-select: none;
      

      @include mobile {
        color: black;
      }
    }
  }
  &__item:nth-child(1) {
    margin-top: 20px;
  }
}

.music {
  position: relative;
  width: 100%;
  height: 100%;

  &__item {
    cursor: pointer;
    max-height: 200px;
    max-width: 100%;

    position: relative;
    margin-top: 40px;

    &__model {
      // &__hover {
      //   display: none;
      //   background-color: rgba(41, 21, 71, 0.5  );
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   left: 0;
      //   bottom: 10px;
      //   width: 100%;
      //   border-radius: 10px;
      //   z-index: 3;
      // }

      // &:hover &__hover{
      //   display: block;
      // }
      width: 100%;
      height: 100%;
      border-radius: 10px;

      &__wrap {
        width: 180px;
        // height: 100%;
        height: 180px;
        border-radius: 10px;
        // display: inline-block;
        position: relative;
        overflow: hidden;
        max-width: 100%;
        @include mobile {
          border-radius: 2px;
        }

        &::after {
          content: '\A';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.4);
          opacity: 0;
          transition: all 0.2s;
        }

        &:hover::after {
          opacity: 1;
        }

        &--active {
          &::after {
            content: '\A';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.4);
            opacity: 1;
            transition: all 0.2s;
          }

          // &:hover::after {
          //   opacity: 1;
          // }
        }
      }

      &__img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s;

        @include mobile {
          border-radius: 0;
        }
       
      }

      &:hover &__img {
        border-radius: 10px;
        transform: scale(1.1);
        overflow: hidden;
      }
    }

    &-name {
      margin-top: 5px;
      font-size: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      user-select: none;
     

      @include mobile {
        color: #32323d;
      }

      &:hover {
        color: rgb(180, 6, 180);
      }
    }
    &-singer {
      user-select: none;
      font-size: 14px;
      line-height: 1.33;
      font-weight: 400;
      color: hsla(0, 0%, 100%, 0.5);
      overflow: hidden;
      white-space: nowrap; /* Don't forget this one */
      text-overflow: ellipsis;

      @include mobile {
        color: #a0a0a0;
      }
    }

    &__action {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // padding: 0 30px;

      &__more {
        width: 30px;
        height: 30px;

        border-radius: 50%;
        position: relative;

        & span {
          display: block;
          position: absolute;
          top: 35%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 25px;
          user-select: none;
        }

        &:hover {
          background-color: rgba(194, 194, 194, 0.6);
        }
      }

      &__icon {
        // transform: scale(1.2);
        padding: 1px;
        border-radius: 50%;
        &:hover {
          background-color: rgb(194, 194, 194);
        }
      }

      &__icon-border {
        transform: scale(1.6);
        height: 100px;
        width: 100px;
        border: 1px solid #fff;
        border-radius: 50%;
      }
    }
  }
  &__more {
    position: absolute;
    z-index: 99;
    right: -100%;
    top: 37%;
  }
}
