.model {
    margin-top: 5px;
    width: 850px;
    height: 92vh;
   
    border-radius: 10px;
    

    &__header{
        margin: 30px 30px 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
            font-size: 1.5rem;
            font-weight: 600;
        }
        &__close {

            &__icon {
                transform: scale(1.3);
                cursor: pointer;
            }
        }
    }
    &__main {
        margin-left: 30px;
        margin-top: 30px;
        position: relative;

        &__item {

            &__title {
                font-weight: 600;
                font-size: 20px;
                
            }
        }
    }
    
}