.div__model {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(102, 103, 103, 0.5);
    z-index: 102;
    display: flex;
    align-items: center;
    justify-content: center;
}

.model__slider {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 105;
}
.overlay {}



.div__playlist {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 70px;
    z-index: 100;
}