.song {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 10px 25px;
  z-index: 1000;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  height: 90px;

  @include tablet {
    
    
  }

  @include mobile {
    padding: 5px 10px;
    background-color: #f8f8f8;
    color: black;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      justify-content: flex-start;
    }

    &__singer {
      display: flex;
      align-items: center;

      &__detail {
        margin-left: 10px;

        &__name {
          width: 180px;
          font-size: 14px;
          font-weight: 500;
          width: 100;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          animation-name: animateName;
          animation-duration: 8s;
          animation-iteration-count: infinite;

          @include tablet {
            width: 100px;
          }

          @include mobile {
            display: none;
          }
        }

        &__name-singer {
          font-size: 12px;
          color: rgb(161, 161, 161);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          @include mobile {
            display: none;
          }
        }
      }
      &__img {
        object-fit: cover;
        width: 70px;
        height: 70px;
        border-radius: 50%;

        @include mobile {
          width: 50px;
          height: 50px;
        }
      }
    }

    &__heart {
      margin-left: 15px;
      position: relative;

      @include tablet {
        display: none;
      }

      &-icon {
        cursor: pointer;
      }
      &-detail {
        display: none;
        position: absolute;
        top: -30px;
        width: 125px;
        padding: 4px 5px;
        left: -100%;
        font-size: 12px;
        background-color: rgb(47, 39, 57);
        border-radius: 7px;
      }
      &-icon:hover &-detail {
        display: block;
        transition: 4s ease-in;
      }
    }

    &__loadmore {
      @include tablet {
        display: none;
      }
    }
  }

  &__action {
    display: flex;
    text-align: center;
    align-items: center;

    &__icon {
      cursor: pointer;
      @include tablet {
        display: none;
      }
    }
    &__icon:hover {
      color: rgb(124, 6, 118);
    }

    &__left {
      display: flex;
      &__icon {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        cursor: pointer;
        transform: scale(0.8);

        @include tablet {
          display: none;
        }
      }
      @include mobile {
        display: none;
      }
    }

    &__listPlay {
      background-color: hsla(0, 0%, 100%, 0.1);
      width: '30px';
      height: '30px';
      padding: 1px;
      border-radius: 3px;

      &:hover {
        background-color: hsla(0, 0%, 100%, 0.5);
      }
      &--active {
        background-color: hsla(0, 0%, 100%, 0.5);
      }
    }

    &__separate {
      margin-left: 30px;
      margin-right: 20px;
      font-size: 1.5rem;
      margin-top: -7px;

      @include mobile {
        display: none;
      }
    }
  }

  &__controls {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: auto;
    align-items: center;

    @include mobile {
      align-items: flex-start;
    }

    &__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;

      margin-top: 5px;
    }

    &__icon {
      &-border {
        margin: 0 30px;
        // transform: scale(1.4);
      }

      &--pause {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &--pause:hover {
        border-color: rgb(124, 6, 118);
      }

      &--play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &--active {
        color: rgb(124, 6, 118);
      }
    }

    &__icon:hover {
      color: rgb(124, 6, 118);
      cursor: pointer;
    }

    &__time {
      margin-top: 6px;
      @include flex(center, center);

      &-progress {
        color: rgb(63, 57, 71);
        font-size: 14px;
        font-weight: 600;
        margin-right: 5px;
        @include flex(center, center);

        @include mobile {
          color: black;
        }
      }

      &--input {
        width: 400px;
        height: 10px;
        cursor: pointer;

        @include tablet {
          width: 220px;
        }

        @include mobile {
          width: 140px;
        }
      }

      &--icon {
        width: 400px;
        height: 10px;

        @include tablet {
          width: 220px;
        }

        @include mobile {
          width: 140px;
        }
      }

      &__end {
        font-size: 14px;
        font-weight: 600;
        margin-left: 5px;

        @include flex(center, center);
      }
    }
  }
}
.active {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #fff;

  @include tablet {
    height: 0;
    width: 0;
  }
}
.active:hover {
  border-color: rgb(124, 6, 118);
}
.box__progress {
  align-items: center;
  margin: 7px 7px 0px 7px;
}

.progress__default {
  border-radius: 6px;
  background-color: rgb(63, 57, 71) !important;
}

.volume__slider {
  min-width: 100px;

  margin-left: 20px;
}

@keyframes animateName {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  10% {
    opacity: 0;
    z-index: -1;
    transform: translateX(-10%);
  }
  20% {
    opacity: 0;
    transform: translateX(30%);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.img__rotation {
  animation: rotateImg 8s linear infinite;
}

@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
