@import './mixin';

@import '../../components/common/Menu/menu';
@import '../../components//common/header/header';
@import '../../components//common/BassMusic/bassmusic';
@import '../../components/slider/slider';

@import '../../components/common/header/header';
@import '../../styles/globals';
@import '../../components/common/ListMusic/listmusic';
@import '../../components//common/Song/song';
@import '../../components/common/PlayList/playlist';
@import '../../styles/mymusic/mymusic';
@import '../../styles/zingchart/zingchart.scss';
@import '../../components/Chart/chart';
@import '../../components/Top/top.scss';
@import '../../components/MusicItem/musicitem';
@import '../../components/Button/button';
@import '../../styles/zingchart/zingchart';
@import '../../components/ModelTheme/themeItem';
@import '../../components//ListSinger/listsinger';
@import '../../components/ItemSinger/itemSinger';
@import '../../components/ModelSinger/modelsinger';
@import '../../components/layout/main';
@import '../../components/ModelTheme/modelTheme';
@import '../../styles/top100/top100';
@import '../../styles//follow/follow';
@import '../../components/ModelSlider/modelSlider';
