.chart {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 100px;
    position: relative;

    @include mobile {
      display: none;
    }
    
 
  
    &__title {
      color: #fff;
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      user-select: none;
  
      &__icon {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(114, 0, 161);
        margin-left: 5px;
        cursor: pointer;
        &:hover {
          background-color: rgba(114, 0, 161, 0.8);
        }
  
        &__item {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  
    &__point {
      width: 20px;
      height: 20px;
      background-color: #fff;
    }

    &__line {
      height: 80%;
    }
  }
  
  .song__data {
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    opacity: 1;

    @include mobile {
      display: none;
    }
    
    
  
    &__info {
    }
  
    &__left {
      &__thumb {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 5px;
        flex-shrink: 0;
      }
    }
  }

#chartjs-tooltip{
  @include tablet {
    display: none;
  }
}